1. Welcome page. Δυνατότητα εισόδου και εγγραφής χρήστη δίνοντας email και password. Οι αντίστοιχες αιτήσεις HTTP πρέπει να είναι κρυπτογραφημένες 
μέσω πρωτοκόλλου SSL/TLS.

2. Η σελίδα εγγραφής απαιτεί εισαγωγή κωδικού πρόσβασης, επιβεβαίωση κωδικού πρόσβασης, όνομα, επώνυμο, email, τηλέφωνο, φωτογραφία και ό,τι άλλο κρίνουμε 
απαραίτητο. Αν υπάρχει χρήστης με ίδιο email, βγαίνει κατάλληλο μήνυμα και η διαδικασία εγγραφής τερματίζεται. 

3. Υπάρχει ενσωματωμένος ένας λογαριασμός διαχειριστή, ο οποίος με την είσοδό του οδηγείται στη σελίδα διαχείρισης.

4. Στη σελίδα διαχείρισης ο διαχειριστής μπορεί να δει τη λίστα των χρηστών, να εξετάζει τα στοιχεία των χρηστών, να εξαγάγει σε μορφή XML και JSON τα δεδομένα 
των χρηστών επιλέγοντας έναν ή περισσότερους από αυτούς. 

5. Ο χρήστης μπαίνει στην αρχική σελίδα. Στην πάνω μπάρα (header) υπάρχει η αρχική σελίδα / δίκτυο / αγγελίες / συζητήσεις / ειδοποιήσεις / προσωπικά στοιχεία / ρυθμίσεις 
με τη μορφή ενεργοποιημένων ή όχι καρτελών.
    Στο αριστερό τμήμα της σελίδας υπάρχει πλαίσιο απ όπου ο χρήστης μπορεί να πλοηγηθεί στα προσωπικά του στοιχεία καθώς και στο δίκτυό του.
    Στο κεντρικό τμήμα της σελίδας εμφανίζεται το χρονολόγιο του επαγγελματία, όπου εμφανίζονται με χρονική σειρά τα άρθρα που έχει 
αναρτήσει ο ίδιος και οι συνδεδεμένοι με αυτόν επαγγελματίες, όπου μπορεί να προσθέσει σχόλια ή να σημειώσει το ενδιαφέρον του. Εμφανίζονται επίσης 
άρθρα μη συνδεδεμένων με αυτόν επαγγελματίες, γαι τα οπόια έχουν σημειώσει το ενδιαφέρον τους χρήστες που ανήκουν στο δίκτυό του. 
    Στο δεξί??? τμήμα περιλαμβάνεται πλαίσιο εισαγωγής κειμένου και πολυμέσων (φωτογραφιών, video και αρχείων ήχου), όπου μπορεί να αναρτήσει νέο άρθρο.


6. Καρτέλα «Δίκτυο». Εμφανίζονται με μορφή πλέγματος οι συνδεδεμένοι επαγγελματίες. Επιλέγοντας έναν επαγγελματία πλοηγείται στη σελίδα προσωπικών τους στοιχείων.
Εκεί μπορεί να ξεκινήσει ιδιωτική συζήτηση με τον εν λόγω συνδεδεμένο επαγγελματία. 
Υπάρχει πλαίσιο αναζήτησης επαγγελματιών που έχουν εγγραφεί στην εφαρμογή. Τα αποτελέσματα της αναζήτησης εμφανίζονται σε λίστα, απ όπου ο χρήστης μπορεί να πλοηγηθεί 
στη σελίδα προσωπικών στοιχείων. Εάν ο επαγγελματίας δεν είναι συνδεδεμένος, ο χρήστης μπορεί να δει μόνο τις πληροφορίες που είναι δημόσιες. 

7. Καρτέλα «Αγγελίες». Εμφανίζονται οι αγγελίες που έχουν δημοσιεύσει οι συνδεδεμένοι επαγγελματίες, και μπορεί να κάνει αίτηση για τις θέσεις απασχόλησης που αφορούν. 
Μπορεί να αναρτήσει δικές του αγγελίες και να εξετάσει αιτήσεις που έχουν κάνει άλλοι στις δικές του αγγελίες. 
Εμφανίζονται ακόμη αγγελίες μη συνδεδεμένων επαγγελματιών.
Η εμφάνιση των αγγελιών γίνεται τόσο βάση των δεξιοτήτων που έχει δηλώσει ο χρήστης όσο και βάσει αλγορίθμου Matrix Factorization Colalborative Filtering που θα 
επεξεργάζεται τα δεδομένα του δικτύου των χρηστών. Τα διανύσματα που κατασκευάζονται αναπαριστούν τους χρήστες στον χώρο των αγγελιών. Οι τιμές των συντεταγμένων
προσδιορίζονται από τις προβολές των αγγελιών από τους χρήστες. 

8. Καρτέλα «Συζητήσεις». Στο αριστερό τμήμα προβάλλεται λίστα με τιςιδιωτικές συζητήσεις και στο κεντρικό τμήμα τα μηνύματα που έχουν ανταλλαχτεί στην τελευταία 
συζήτηση ή αυτή που έχει επιλεχθεί από αριστερά. 

9. Καρτέλα «Ειδοποιήσεις». Στο πάνω τμήμα είναι τα αιτήματα σύνδεσης που μπορεί να αποδεχτεί ή να απορρίψει ο χρήστης, και σύνδεσμοι μέσω των οποίων μπορεί να πλοηγηθεί 
στη σελίδα προσωπικών πληροφοριών των χρηστών. Στο κάτω μέρος οι σημειώσεις ενδιαφέροντος που έχουν κάνει άλλοι χρήστες στα άρθρα του και τα σχόλια που έχουν υποβληθεί.

10. Καρτέλα «Προσωπικά στοιχεία». Εκεί μπορεί να εισάγει την επαγγελματική εμπειρία, τις πληροφορίες σχετικά με την εκπαίδευση και τις δεξιότητές του. Μπορεί να σημειώσει 
τι είναι ιδιωτικό και τι δημόσιο.

11. Καρτέλα «Ρυθμίσεις». Εκεί μπορεί να αλλάξει τον κωδικό πρόσβασης, και το email του.

12. BONUS (που πρέπει να γίνει) Στο χρονολόγιο εμφανίζονται άρθρα βάσει του αλγορίθμου συστάσεων που θα επεξεργάζεται το ιστορικό των σημειώσεων ενδιαφέροντος (likes) ενός 
χρήστη σε άρθρα άλλων χρηστών, την υποβολή σχολίων σε αυτά καθώς και το δίκτυο των χρηστών. Για την παραγωγή των προτάσεων θα χρησιμοποιηθεί ο αλγόριθμος Matrix Factorization
Τόσο σε αυτό το ερώτημα όσο και στο 7 θα πρέπει να κατασκευαστού τεχνητά dataset καθώς δεν διατίθενται ελεύθερα δεδομένα. Σε περίπτωση που ένας χρήστης δεν έχει σημειώσει 
ενδιαφέρον και δεν έχει γράψει κανένα σχόλιο, η εφαρμογή θα καταγράφει και θα αξιοποιεί την προβολή των άρθρων προκειμένου να κατασκευαστούν τα διανύσματα που αναπαριστουν 
τους χρήστες στον χωρο των άρθρων. Κατά προτεραιότητα θα προβάλλονται άρθρα των οποίων οι συγγραφείς ανήκουν στο δίκτυο ενός χρήστη. Οι αλγόριθμοι για την παραγωγή 
συστάσεων πρέπει να υλοποιηθούν εκ του μηδενός. Δεν επιτρέπεται η χρήση έτοιμων βιβλιοθηκών. 