/* src/user/User.css */

.sidebar {
  background-color: rgba(11, 33, 75, 0.171) ;
}
.sidebar .nav-link-custom {
    color: black !important;
    font-weight: bold !important;
    text-align: center !important;
  }
  
  .sidebar .nav-link-custom .fa-icon {
    margin-right: 8px !important;
  }
  